.add-contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-title {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.modal-header {
  position: relative;
}
