<ion-modal [isOpen]="isModalOpen()" (didDismiss)="emitCloseModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar class="modal-header">
          <ion-buttons slot="start">
            <ion-button (click)="emitCloseModal()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title class="modal-title">Nuevo contacto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmFormData()" [strong]="true" [disabled]="!newContactForm().valid">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="newContactForm()" class="add-contact-form">
        <ion-input formControlName="name" label="Nombre" labelPlacement="floating" fill="outline"
          errorText="Campo no válido o vacío" />
        <ion-input formControlName="phoneNumber" label="Teléfono" labelPlacement="floating" fill="outline"
          errorText="Campo no válido o vacío" />
        <ion-input formControlName="email" label="Email" labelPlacement="floating" fill="outline"
          errorText="Campo no válido o vacío" />
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
