ion-card {
  margin: 0;
}

.user-icon-container > ion-icon {
  font-size: 70px;
  color: lightgray;
}

.user-icon-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #0993AE;
}

.trash-icon {
  font-size: 25px;
}

.delete-button {
  margin-top: 15px;
}

.contact-name {
  font-weight: bold;
}
