.contact-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  max-width: 1200px;
}

.contact-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
