.contact-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  padding: 0;
}

.contact-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media(max-width: 768px) {

  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }

}
